In [12]:
import warnings
warnings.filterwarnings('ignore')
import pyodbc as odbc
import pandas as pd

In [13]:
DRIVER = 'SQL Server'
SERVER_NAME = 'DESKTOP-7MLFO65'
DATABASE_NAME = 'AdventureWorks2019'

conn_string = f"""
    Driver={{{DRIVER}}};
    Server={SERVER_NAME};
    Database={DATABASE_NAME};
    Trust_Connection=yes;
"""

try:
    conn = odbc.connect(conn_string)
except Exception as e:
    print(e)
    print('task is terminated')
    sys.exit()
else:
    cursor = conn.cursor()

In [10]:
sql = """SELECT TOP (1000) [AddressID]
      ,[AddressLine1]
      ,[AddressLine2]
      ,[City]
      ,[StateProvinceID]
      ,[PostalCode]
      ,[SpatialLocation]
      ,[rowguid]
      ,[ModifiedDate]
  FROM [AdventureWorks2019].[Person].[Address]"""

In [11]:
df = pd.read_sql_query(sql, conn)
df.head(10)

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,None,Bothell,79,98011,b'\xe6\x10\x00\x00\x01\x0c\xae\x8b\xfc(\xbc\xe...,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04
1,2,9833 Mt. Dias Blv.,None,Bothell,79,98011,b'\xe6\x10\x00\x00\x01\x0c\xd6\xfa\x85\x1a\xe6...,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30
2,3,7484 Roundtree Drive,None,Bothell,79,98011,b'\xe6\x10\x00\x00\x01\x0c\x18\xe3\x04\xc4\xad...,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07
3,4,9539 Glenside Dr,None,Bothell,79,98011,b'\xe6\x10\x00\x00\x01\x0c\x81:\r_\x9f\xdeG@\x...,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03
4,5,1226 Shoe St.,None,Bothell,79,98011,b'\xe6\x10\x00\x00\x01\x0ca\xc6M\x8a\xbb\xd9G@...,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19
5,6,1399 Firestone Drive,None,Bothell,79,98011,b'\xe6\x10\x00\x00\x01\x0c\xe0\xb4\xe5\x04X\xd...,FEBF8191-9804-44C8-877A-33FDE94F0075,2009-02-13
6,7,5672 Hale Dr.,None,Bothell,79,98011,b'\xe6\x10\x00\x00\x01\x0c\x18\xe3\x04\xc4\xad...,0175A174-6C34-4D41-B3C1-4419CD6A0446,2009-12-11
7,8,6387 Scenic Avenue,None,Bothell,79,98011,b'\xe6\x10\x00\x00\x01\x0c\x00)\xa5\xd9;\xdfG@...,3715E813-4DCA-49E0-8F1C-31857D21F269,2008-12-17
8,9,8713 Yosemite Ct.,None,Bothell,79,98011,b'\xe6\x10\x00\x00\x01\x0cj\x80\xadt-\xdcG@\x8...,268AF621-76D7-4C78-9441-144FD139821A,2012-05-30
9,10,250 Race Court,None,Bothell,79,98011,b'\xe6\x10\x00\x00\x01\x0c!\x9dd\xae\x1f\xe4G@...,0B6B739D-8EB6-4378-8D55-FE196AF34C04,2008-12-02